*{
  margin: 0;
  padding: 0;
}
body{
  overflow: hidden;
} 
.header{
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: white;
}
.header a:hover, a:active {
  text-decoration: underline;
}
.top_left a{
  margin: 15px 15px;
  float: left;
  color: #202124;
  text-decoration: none;
}
.top_right a{
  margin: 15px 15px;
  float: right;
  color: #202124;
  text-decoration: none;
}
.top_right  img{
  width: 30px;
  height: 30px;
}
#login{
  padding: 7px 23px;
  border: none;
  background: #1a73e8;
  border-radius: 4px;
  color: white;
}
.main-content {
    position: absolute;
    width: 100%;
    top: 25%;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0 10px;
}

.main-google-logo {
    margin-bottom: 20px;
}

.main-google-logo img {
    max-width: 260px;
    width: 55%;
    height: auto;
}

.main-search-bar-form {
max-width: 550px;
width: 100%;
height: 40px;
border: 1px solid lightgray;
border-radius: 100px;
margin: 0 auto;
margin-bottom: 20px;
}

input {
    width:500px;
    border-color: #bbb;
    border-radius: 20px;
    border-width: 1px;
    padding: 6px 0 6px 0;
    height: 40px;
    margin: 6px;
    
}
.button-link {
    display: inline-flex;
    padding: 9px 13px;
    border: 1px solid #f8f9fa;
    border-radius: 5px;
    font-size: 13px;
    color: black;
    background-color: #f8f9fa;
    text-decoration: none;
}
.button-link2{
    margin-left: 7px;
    display: inline-flex;
    padding: 9px 13px;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 13px;
    color: black;
    background-color: #f8f9fa;
    text-decoration: none;
}


.footer{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: rgba(0, 0, 0, 0.54);
  background-color: white;
}
.footer-top{
    padding: 15px 20px;
}
.footer-left a{
    padding: 15px 20px;
    float: left;
    color: gray;
    text-decoration: none;
}
.footer-right a{
    padding: 15px 20px;
    float: right;
    color: gray;
    text-decoration: none;
}